---
layout: job_family_page
title: "Deal Desk Roles"
description: "Learn more about Deal Desks roles, responsibilities, requirements and levels."
---


## Deal Desk Specialist

The Deal Desk Specialist is responsible for supporting the Field Teams in renewing customers, leveraging pricing strategy, quote management, facilitating contract reviews, and identifying upsell and cross sell opportunities. This position works collaboratively with the Field and internal organizations such as Legal, Finance, Support and Sales Operations to ensure deals are executed with velocity and accuracy. This position reports to the Sales Operations Manager.

### Job Grade

The Deal Desk Specialist is a [grade 5](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Responsibilities
* Serve as the trusted adviser to Field Team on all renewal deal related matters, advise the team on alternative contract options, and/or value propositioning to help drive deal closures
* Manage the day-to-day renewal management, ensuring compliance with published sales and business approval policies
* Engage with the Field Team to accelerate deal velocity
* Collaborate with impacted parties to identify acceptable options to facilitate deal closure


### Requirements
* AA degree (BA/BS degree preferred)
* 2+ years of proven success in Enterprise SaaS/B2B Industry, Deal Desk, Finance, Sales Operations or Pricing experience preferred
* Experience in Direct and Channel Sales model is highly desirable
* Experience with pricing strategy and international business preferred
* Highly organized, customer-focused, innovative and strong attention to details
* Excellent communicator, self-aware, transparent, collegial, and open to feedback
* Ability to multitask and prioritize at times of high volume
* Interest in GitLab, and open source software
* You share our values, and work in accordance with those values
* Ability to thrive in a fully remote organization
* Leadership at GitLab
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Deal Desk" }) %>

## Deal Desk Analyst

Deal Desk Analysts are responsible for supporting the Field Teams in structuring deals, leveraging pricing strategy, quote management, facilitating contract reviews, and managing the overall quote-to-cash processes.  This position works collaboratively with the field and internal organizations such as Legal, Finance, Support, and Sales Ops to ensure deals are structured and negotiated to comply with Gitlab’s policies and processes.  They are expected need to become an expert of GitLab and help to optimize our quote-to-cash processes and tools. This position reports to the Sales Operations Manager.

### Job Grade

The Deal Desk Analyst is a [grade 6](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Responsibilities

* Serve as the trusted adviser to Field Team on all deal related matters, advise the team on alternative contract options, and/or value propositioning to help drive deal closures
* Manage the day-to-day quote management, pricing approvals, ensuring compliance with published sales and business approval policies
* Provide proactive support and guidance to the Field Team in order to help drive new deals as well as up-sell opportunities.
* Engage with the Field Team to accelerate deal velocity and execute on deal closure
* Collaborate with impacted parties to identify acceptable options to facilitate deal closure
* Maintain and enforce agreed upon departmental review and approval SLAs
* Run end of period cadence to effective manage resources and provide appropriate visibility/escalations
* Partner with Sales Operations on process/system improvements, sales enablement and special projects
* Deliver relevant training to new and existing sales people on deal desk, order processes and overall QTC best practices


### Requirements

* BA/BS degree
* 2+ years of proven success in Enterprise SaaS/B2B Industry, Deal Desk, Finance, Sales Operations or Pricing experience preferred
* Experience in Direct and Channel Sales model is highly desirable
* Experience with pricing strategy and international business preferred
* Strong understanding of software revenue recognition and order process principles required
* Highly organized, customer-focused, innovative and strong attention to details
* Excellent communicator, self-aware, transparent, collegial, and open to feedback
* Strong business acumen, strong reporting and analytics, troubleshooting, problem-solving, and project management skills
* Demonstrated ability to partner with GTM Teams and other cross functional departments
* Ability to multitask and prioritize at times of high volume
* Strong quantitative skills and highly proficient in Excel, PowerPoint, Salesforce.com, Zuora or similar CPQ tools
* Interest in GitLab, and open source software
* You share our values, and work in accordance with those values
* Ability to thrive in a fully remote organization


## Manager, Deal Desk

The Manager, Deal Desk is responsible for supporting the Field Teams in structuring deals, leveraging pricing strategy, quote management, facilitating contract reviews/negotiations, and managing overall quote-to-cash processes.  This position works collaboratively with the Field and internal organizations such as Legal, Finance, Support and Sales Ops to ensure deals are structured and negotiated to comply with Gitlab’s policies and processes.  They will be an expert of GitLab and help to optimize our quote-to-cash processes and tools. his position reports to the Sales Operations Manager.

### Job Grade

The Manager, Deal Desk is a [grade 8](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).


### Responsibilities

* Serve as the trusted adviser to Field Team on all deal related matters, advise the team on alternative contract options, and/or value propositioning to help drive deal closures
* Manage the day-to-day quote management, pricing approvals, ensuring compliance with published sales and business approval policies
* Provide proactive support and guidance to the Field Team in order to help drive new deals as well as up-sell opportunities.
* Engage with the Field Team to accelerate deal velocity and execute on deal closure
* Collaborate with impacted parties to identify acceptable options to facilitate deal closure
* Assist to interpret contractual language and escalate to ensure deals comply with revenue recognition and operational policies
* Maintain and enforce agreed upon departmental review and approval SLAs
* Develop and drive initiatives to improve productivity, deal desk improvements, company deal policies and simplifying processes throughout the Sales Operations and Sales Organization
* Run end of period cadence to effective manage resources and provide appropriate visibility/escalations
* Partner with Sales Operations on process/system improvements, sales enablement and special projects
* Deliver relevant training to new and existing sales people on deal desk, order processes and overall QTC best practices

### Requirements

* BA/BS degree
* 5+ years of proven success in Enterprise SaaS/B2B Industry, Deal Desk, Finance, Sales Operations or Pricing experience preferred
* Experience in Direct and Channel Sales model is highly desirable
* Strong experience in contract/legal negotiations with enterprise customers and working with enterprise sales teams.
* Experience with pricing strategy and international business preferred
* Strong understanding of software revenue recognition and order process principles required
* Highly organized, customer-focused, innovative and strong attention to details
* Able to speak to senior audiences and command the respect of field teams
* Excellent communicator, self-aware, transparent, collegial, and open to feedback
* Strong business acumen, strong reporting and analytics, troubleshooting, problem-solving, and project management skills
* Demonstrated ability to partner with GTM Teams and other cross functional departments
* Ability to multitask and prioritize at times of high volume
* Strong quantitative skills and highly proficient in Excel, PowerPoint, Salesforce.com, Zuora or similar CPQ tools
* Interest in GitLab, and open source software
* You share our values, and work in accordance with those values
* Ability to thrive in a fully remote organization

## Career Ladder

The next steps for the Deal Desk Job Family is to move to the [Sales Operations](/job-families/sales/sales-operations/) Job Family.

### Hiring Process
* Screening call with recruiter
* Interview with the Hiring Manager
* Interview with 2-3 additional team members
* Final interview with an Executive
