- if defined? extra_functions_test
  - localvar_extra_functions_test = extra_functions_test
- else
  - localvar_extra_functions_test = 'null'
-#=============================
- if defined? extra_functions_control
  - localvar_extra_functions_control = extra_functions_control
- else
  - localvar_extra_functions_control = 'null'
-#=============================
- if defined? experiment_environment
  - localvar_experiment_environment = experiment_environment
- else
  - localvar_experiment_environment = 'production'
-#=============================
- if defined? enable_experiment_logs
  - localvar_enable_experiment_logs = enable_experiment_logs
- else
  - localvar_enable_experiment_logs = 'false'
-#=============================
- if defined? experiment_cookie_duration
  - localvar_experiment_cookie_duration = experiment_cookie_duration
- else
  - localvar_experiment_cookie_duration = '1209600'
-#=============================
-# The above variables are optional.
-#=============================
-# The below variables are required for this to work.
-# Please define them as locals when calling this partial file.
-#=============================
- if defined? experiment_id
  - localvar_experiment_id = experiment_id
- else
  - localvar_experiment_id = 'null'
-#=============================
- if defined? experiment_flag
  - localvar_experiment_flag = experiment_flag
- else
  - localvar_experiment_flag = 'null'
-#=============================
%link{rel: "stylesheet", href: "/stylesheets/experiments.css"}
<script data-cookieconsent="ignore" crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>

-# minified version of /source/javascripts/run-experiments.js
%script{type: "text/javascript", "data-cookieconsent": "ignore"}
  :plain
    var runExperiment=function(e,t,o,n,i,r,l){var s,c=new Boolean(r),a="#experiment"+e,x=a+" .experiment-control",u=a+" .experiment-test",d=a+" .loading-experiment",m=o,f=n,p=i,v="5e4333e30437cc080f585139",g="5e4f2535a16fb207f4e766fd";s="production"===p?"5e4333e30437cc080f58513a":"test"===p?v:g,1==c&&(console.log("feature flag environment: "+p),console.log("override environment: "),console.log("actual environment id: "+s));var y={key:function(){var e=function(e){const t=`; ${document.cookie}`.split(`; ${e}=`);if(2===t.length)return t.pop().split(";").shift()}("experimentUuid");if(1==c&&console.log("preexisting experimentUuid: "+e),void 0!==e)return e;e="xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g,function(e){var t=16*Math.random()|0;return("x"==e?t:3&t|8).toString(16)}),1==c&&(console.log("assigned experimentUuid: "+e),console.log("experimentUuid duration: "+l));var t="experimentUuid="+e+"; max-age="+l;return document.cookie=t,e}()},h=LDClient.initialize(s,y);h.on("ready",function(){var i;1==c&&console.log("feature flag system is ready"),i=h.variation(t,!1),-1!=window.location.href.indexOf("experiment-review-test")&&(i=!0,1==c&&console.log("A url parameter forced the test variant.")),-1!=window.location.href.indexOf("experiment-review-control")&&(i=!1,1==c&&console.log("A url parameter forced the control variant.")),1==c&&console.log("issue id: "+e+", flag name: "+t+", isThisTheTestVariant: "+i),i?(setTimeout(function(){document.querySelector(d).classList.add("loaded-experiment"),document.querySelector(x).classList.remove("experiment-visible"),document.querySelector(u).classList.add("experiment-visible")},150),null!==n&&setTimeout(function(){f(),1==c&&console.log("test extras: "+f)},350)):i||(setTimeout(function(){document.querySelector(d).classList.add("loaded-experiment"),document.querySelector(u).classList.remove("experiment-visible"),document.querySelector(x).classList.add("experiment-visible")},150),null!==o&&setTimeout(function(){m(),1==c&&console.log("control extras: "+m)},350))})};

%script{type: "text/javascript", "data-cookieconsent": "ignore"}
  :plain
    runExperiment('#{localvar_experiment_id}', '#{localvar_experiment_flag}', #{localvar_extra_functions_control}, #{localvar_extra_functions_test}, '#{localvar_experiment_environment}', #{localvar_enable_experiment_logs}, #{localvar_experiment_cookie_duration});
%div.experiment-outer-wrapper{id: "experiment#{localvar_experiment_id}"}
  %span.loading-experiment 
  = partial "/experiments/#{localvar_experiment_id}-control"
  = partial "/experiments/#{localvar_experiment_id}-test"
